# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

.idea/*

# Devs should copy the example file in main/resources and edit the filepaths
# to match their system
src/main/resources/log4j2.properties