# Default ignored files
.DS_Store*
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# IntelliJ
/out/

# Maven
/target/
/log/
/lib/

.idea/*

# Devs should copy the example file in main/resources and edit the filepaths
# to match their system
src/main/resources/log4j2.properties
src/test/resources/log4j2.properties
src/test/resources/hibernate.cfg.xml
src/main/resources/hibernate.cfg.xml

/logs